@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #1c1c1c;
    --grey: #7e7e7e;
    --gray-light: #e4e4e4;
    --white: #fff;
    --white-light: #faf5EE;
    --red: #b30000;
    --font-size-sm: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.50rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius:10px;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-size: var(--font-size-sm);
    background-color: var(--white-light);
}

a { color: var(--black);}
h1 { font-size: var(--font-size-xl);}
h2 {font-size: var(--font-size-lg);}
h3 { font-size: var(--font-size-md);}
h4 { font-size: var(--font-size-sm);}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea{
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-sm);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.btn{
    background-color: var(--black);
    border: none;
    color: var(--white);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete{
    padding: 10px 16px;
    background-color: var(--red);
}

img{
    width: 100%;
    height: auto;
}

/* Layout */
.conatiner{
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}


.main{
    padding: 20px 0;
}

.hero-image{
    max-width: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0,0,0,0.25));
    border-radius: var(--border-radius);
}

header{
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    grid-template-areas: 
    "logo button"
    "menu menu"
    ;
}

.header__logo{
    grid-area: logo;
    font-weight: 100;
    font-size: 25px;
    text-decoration: none;
}

.header__logo:hover{
    text-decoration: underline;
}

.header__nav{
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__button{
    grid-area: button;
    display: flex;
    justify-content: flex-end;
}

.header__button button{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 0.5rem 1rem;
    background: none;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-style: var(--font-size-sm);
    font-weight: 600;
    color: var(--black);
}

.header__button button:hover{
    border: 2px solid var(--black);
}

.header__nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a{
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a:hover{
    text-decoration: underline;
}

.header__nav ul a.active{
    color: var(--black);
}

.author{
    padding: 10px 0;
    text-align: center;
}

.author__heading{
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 5px;
}

.author__body{
    font-size: var(--font-size-md);
    margin: 5px 0 40px 0;
}

.article-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: clamp(1.31rem, calc(1.08rem + 0.22vw), 1.25rem);
    display: flex;
    flex-direction: column;
}

.article-list__date{
    font-size: var(--font-size-sm);
    color: var(--grey);
    width: 260px;
    display: inline-block;
}

.article-ul li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 18px 0;
}


@media only screen and (min-width: 768px) {
    .header{
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
        "logo menu button"
        ;
    }

    .article-ul li a{
        flex-direction: row;
        align-items: center;
    }

    .article-list__date{
        text-align: right;
    }
}

.article-ul li{
    font-size: 24px;
    cursor: pointer;
    transition: filter 0.1s;
}

.article-ul li:not(:last-child){
    border-bottom: 1px solid var(--gray-light);
}

.article-ul:hover li{
    filter: blur(3px);
}

.article-ul:hover li:hover{
    filter: none;
}

.pagination{
    font-size: 1.3rem;
    color: var(--grey);
    text-decoration: none;
    margin-top:40px;
    display: inline-block;
}

.pagination:hover{
    color: var(--black);
}

.article{
    white-space: pre-wrap;
}

footer{
    margin: 4rem;
    text-align: center;
}

/* Search bar */
.searchBar{
    visibility: hidden;
    transform: translateY(-100px);
    background-color: var(--black);
    padding: 4px 0;
    position: absolute;
    left: 0;
    right: inherit;
}

.searchBar.open{
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar input{
    margin: 0;
    padding: 0;
}

#searchClose{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--gray-light);
    padding: 15px;
}